.resModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    place-items: center;
}

/* Modal content */
.resModal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    border-radius: 1rem;
}
.resModal-content p{
    margin: 0;
    padding: 20px;
}

/* Modal header */
.resModal-head {
    padding-left: 30px;
    padding-top: 5px;
}

/* Close button */
.resClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px
}

.resClose:hover,
.resClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.cancelClass{
    background-color: #4e73df;
    border-color: #4e73df;
    color: white;
    border-radius: 0.5rem;
    height: 50px;
    margin: 5px 20px;
}