/* Custom styles for the dropdown menu */
.nav-item.drpdwn .drpdwn-menu {
    background-color: #9fcdff; /* Light blue background */
    border: 1px solid #dee2e6; /* Light border color */
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border-radius: .25rem;
    z-index: 1000;
}

/* Custom styles for the dropdown items */
.nav-item.drpdwn .drpdwn-menu .drpdwn-item {
    color: #fff; /* White text color */
    text-transform: uppercase; /* Capitalize text */
    padding: 10px 20px; /* Padding around each item */
    border-bottom: 1px solid #dee2e6; /* Bottom border for each item */
}

/* Style the last child to remove the bottom border */
.nav-item.drpdwn .drpdwn-menu .drpdwn-item:last-child {
    border-bottom: none;
}

/* Hover and focus styles for dropdown items */
.nav-item.drpdwn .drpdwn-menu .drpdwn-item:hover,
.nav-item.drpdwn .drpdwn-menu .drpdwn-item:focus {
    border: 2px solid #ffffff; /* White border on hover/focus */
    padding: 8px; /* Padding to create space around the text */
}
